<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
        <rewrite>
            <rules>
                <rule name="RewtoMainjs">
                    <match url=".*" />
                    <action type="Rewrite" url="/run.cjs" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors existingResponse="PassThrough" />
        

    </system.webServer>
    
</configuration>

